*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.postsContainer{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.postsBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 3px;
  background-color: rgb(225, 225, 225);
  gap: 10px;
  box-shadow: 10px 10px 20px  black;
  padding: 10px;
  align-self: flex-start;
}

.postsBox h1{
  font-size: x-large;
}

.postsBox p{
  font-style: italic;
}


